body {
	padding-top: 63px;
	padding-bottom: 40px;
}

.navbar .navbar-inner {
	background: #fff;
	color: #000;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	text-shadow: none;
	padding: 6px 0;
}

.navbar .navbar-inner .nav.actions {
	border-left: 1px solid #ddd;
	margin-left: 20px;
	padding-left: 20px;
	float: right;
	margin-top: 7px;
}

.navbar .navbar-inner .nav.actions  a{
	border: 2px solid #ddd;
	padding: 5px 16px;
	font-size: 12px;
	line-height: 1;
	margin-left: 20px;
}

#feature-video {
	position: relative;
}

#text-overlay {
	position: absolute; 
	bottom: 0;
}

#text-overlay p { 
   color: white;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.5);
   padding: 10px;
   margin-bottom: 1px;
}

#userOptions div {
	display: inline-block;
	width: 12%;
	height: 24px;
	margin-bottom: 10px;
}

#userOptions span {
	cursor: pointer;	
	display:block;
	width: 24px;
	margin: 0 auto;
}

.icons  {
	font-size: 24px;
}